table tr td a {
    display:inline-block;
    height:100%;
    width:100%;
}

#statistics {
	padding-bottom: 10px;
}

#descriptiondiv {
	text-align: justify;
}

#bigbar {
	margin-bottom: 20px;
}

.roundbox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */

	text-align: center;
	background-color: #f2f2f2;
	padding-top: 45px;
	padding-bottom: 15px;

	height: 78px;
}